@charset "UTF-8";
/*---------------------
		タグ初期設定
---------------------*/
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);
/* line 6, ../../html/sass/style.scss */
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  vertical-align: middle;
}

/* line 17, ../../html/sass/style.scss */
html,
body {
  min-height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-justify: inter-ideograph;
  -webkit-font-smoothing: antialiased;
  zoom: 1;
  font-size: 16px;
}

/* line 29, ../../html/sass/style.scss */
body {
  font-family: "メイリオ" ,Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

/* line 33, ../../html/sass/style.scss */
img {
  max-width: 100%;
  height: auto;
  border: none;
}

/* line 39, ../../html/sass/style.scss */
ul li {
  list-style: none;
}

/* line 44, ../../html/sass/style.scss */
ol li {
  list-style: none;
}

/* line 48, ../../html/sass/style.scss */
a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
/* line 56, ../../html/sass/style.scss */
a:before {
  box-sizing: border-box;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
/* line 65, ../../html/sass/style.scss */
a:hover {
  color: #000;
}

/* line 70, ../../html/sass/style.scss */
a:hover, label:hover, input[type="submit"]:hover {
  cursor: pointer;
}

/* line 74, ../../html/sass/style.scss */
input, textarea {
  font-family: "メイリオ" ,Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

/*---------------------
		共通クラス
---------------------*/
/* line 80, ../../html/sass/style.scss */
.clearfix {
  zoom: 1;
}
/* line 82, ../../html/sass/style.scss */
.clearfix:after {
  content: ' ';
  clear: both;
  display: block;
}

/* line 89, ../../html/sass/style.scss */
.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

/* line 94, ../../html/sass/style.scss */
.s-container {
  width: 798px;
  margin: 0 auto;
  position: relative;
}

/* line 99, ../../html/sass/style.scss */
.ss-container {
  width: 630px;
  margin: 0 auto;
  position: relative;
}

/* line 104, ../../html/sass/style.scss */
.service-container {
  width: 920px;
  margin: 0 auto;
  position: relative;
}

/* line 111, ../../html/sass/style.scss */
.content-ttl {
  font-size: 1.55rem;
  font-style: italic;
  color: #385571;
  margin: 0 0 2rem;
  font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}

/* line 121, ../../html/sass/style.scss */
#contents .main-visual {
  padding: 3rem 0;
  text-align: center;
}
/* line 124, ../../html/sass/style.scss */
#contents .main-visual .main-text-area {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/* line 128, ../../html/sass/style.scss */
#contents .main-visual .main-text-area .ttl {
  font-size: 1.9rem;
  font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}
/* line 132, ../../html/sass/style.scss */
#contents .main-visual .main-text-area .main-ttl {
  font-size: .75rem;
  font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
  font-style: italic;
}
/* line 139, ../../html/sass/style.scss */
#contents .main-visual .text-content p {
  font-size: .8rem;
  line-height: 1.7rem;
  padding: 1rem 0;
}
/* line 145, ../../html/sass/style.scss */
#contents .main-visual .main-logo {
  display: inline-block;
  vertical-align: middle;
}
/* line 150, ../../html/sass/style.scss */
#contents .line-img {
  margin: 1.5rem 0;
}
/* line 153, ../../html/sass/style.scss */
#contents .page-ttl-area {
  background: #fccf00;
  text-align: center;
  padding: 2rem 0;
  font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}
/* line 158, ../../html/sass/style.scss */
#contents .page-ttl-area p {
  font-size: 1rem;
}
/* line 161, ../../html/sass/style.scss */
#contents .page-ttl-area .page-ttl {
  font-size: 1.5rem;
  color: #fff;
  font-style: italic;
  margin: 0 0 .5rem;
}
/* line 167, ../../html/sass/style.scss */
#contents .page-ttl-area .sub-ttl {
  font-size: .75rem;
  font-style: italic;
}
/* line 172, ../../html/sass/style.scss */
#contents .dot-box-area {
  margin: 2rem 0 4rem;
}
/* line 174, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box {
  border: 3px dotted #385571;
  border-radius: 5px;
  padding: 2rem 2.25rem;
}
/* line 178, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .left-area {
  display: inline-block;
  vertical-align: top;
}
/* line 181, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .left-area p {
  font-weight: bold;
}
/* line 183, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .left-area p.b-txt {
  font-size: .95rem;
}
/* line 186, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .left-area p.s-txt {
  font-size: .6px;
}
/* line 191, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .right-area {
  display: inline-block;
  vertical-align: top;
}
/* line 194, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .right-area p {
  font-size: .75rem;
  line-height: 1.5rem;
  margin: 0 0 1rem;
}
/* line 198, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .right-area p:last-child {
  margin: 0;
}
/* line 205, ../../html/sass/style.scss */
#contents .contact-link-area {
  background: #fccf00;
  text-align: center;
  padding: 1.5rem 0 2rem;
}
/* line 209, ../../html/sass/style.scss */
#contents .contact-link-area p {
  margin: 0 0 1rem;
  font-size: .85rem;
}
/* line 214, ../../html/sass/style.scss */
#contents .contact-link-area .contact-link-list li {
  display: inline-block;
  width: 48%;
  margin: 0 .5rem 0 0;
}
/* line 218, ../../html/sass/style.scss */
#contents .contact-link-area .contact-link-list li:last-child {
  margin: 0;
}
/* line 221, ../../html/sass/style.scss */
#contents .contact-link-area .contact-link-list li a {
  display: block;
  position: relative;
}
/* line 224, ../../html/sass/style.scss */
#contents .contact-link-area .contact-link-list li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0px solid #fccf00;
}
/* line 235, ../../html/sass/style.scss */
#contents .contact-link-area .contact-link-list li a:hover:before {
  border: 15px solid #fccf00;
}
/* line 240, ../../html/sass/style.scss */
#contents .contact-link-area .contact-link-list li:last-child {
  margin: 0;
}
/* line 246, ../../html/sass/style.scss */
#contents .party-area {
  padding: 1.5rem 0;
}
/* line 248, ../../html/sass/style.scss */
#contents .party-area .party-logo {
  width: 10rem;
  margin: 0 auto;
}
/* line 251, ../../html/sass/style.scss */
#contents .party-area .party-logo a {
  display: block;
}
/* line 253, ../../html/sass/style.scss */
#contents .party-area .party-logo a:hover {
  opacity: .5;
}

/*---------------------
		ヘッダー
---------------------*/
/* line 263, ../../html/sass/style.scss */
#header {
  border-top: 10px solid #fccf00;
  padding: .5rem 0;
}
/* line 266, ../../html/sass/style.scss */
#header .head-logo {
  display: inline-block;
  width: 13rem;
}
/* line 269, ../../html/sass/style.scss */
#header .head-logo a {
  display: block;
}
/* line 273, ../../html/sass/style.scss */
#header .head-list-wrap {
  display: inline-block;
  width: 77%;
  text-align: right;
}
/* line 277, ../../html/sass/style.scss */
#header .head-list-wrap .nav-list {
  display: inline-block;
  width: 80%;
  text-align: right;
  font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}
/* line 282, ../../html/sass/style.scss */
#header .head-list-wrap .nav-list li {
  display: inline-block;
  margin: 0 1rem 0 0;
}
/* line 285, ../../html/sass/style.scss */
#header .head-list-wrap .nav-list li a {
  font-size: .8rem;
  font-style: italic;
  position: relative;
}
/* line 289, ../../html/sass/style.scss */
#header .head-list-wrap .nav-list li a:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -5px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
/* line 303, ../../html/sass/style.scss */
#header .head-list-wrap .nav-list li a:hover:before {
  width: 100%;
  height: 2px;
  background-color: #fccf00;
}
/* line 312, ../../html/sass/style.scss */
#header .head-list-wrap .sns-list {
  display: inline-block;
  width: 17%;
}
/* line 315, ../../html/sass/style.scss */
#header .head-list-wrap .sns-list li {
  display: inline-block;
  width: 2rem;
  margin: 0 1rem 0 0;
}
/* line 319, ../../html/sass/style.scss */
#header .head-list-wrap .sns-list li a {
  display: block;
}
/* line 321, ../../html/sass/style.scss */
#header .head-list-wrap .sns-list li a:hover {
  opacity: .5;
}
/* line 325, ../../html/sass/style.scss */
#header .head-list-wrap .sns-list li:last-child {
  margin: 0;
}

/*---------------------
		フッター
---------------------*/
/* line 337, ../../html/sass/style.scss */
#footer .foot-link-list-area {
  background: #f0f0f0;
  padding: 1rem 0;
}
/* line 340, ../../html/sass/style.scss */
#footer .foot-link-list-area .foot-link-list {
  text-align: center;
  font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}
/* line 343, ../../html/sass/style.scss */
#footer .foot-link-list-area .foot-link-list li {
  display: inline-block;
  margin: 0 2rem 0 0;
}
/* line 346, ../../html/sass/style.scss */
#footer .foot-link-list-area .foot-link-list li:last-child {
  margin: 0;
}
/* line 349, ../../html/sass/style.scss */
#footer .foot-link-list-area .foot-link-list li a {
  font-size: .8rem;
  display: block;
  font-style: italic;
}
/* line 353, ../../html/sass/style.scss */
#footer .foot-link-list-area .foot-link-list li a:hover {
  opacity: .5;
}
/* line 360, ../../html/sass/style.scss */
#footer .copyright-area {
  background: #385571;
  padding: 1rem 0;
}
/* line 363, ../../html/sass/style.scss */
#footer .copyright-area p {
  display: inline-block;
  color: #fff;
  font-size: .7rem;
}
/* line 367, ../../html/sass/style.scss */
#footer .copyright-area p.copyright-text {
  width: 28%;
}
/* line 370, ../../html/sass/style.scss */
#footer .copyright-area p.text {
  text-align: right;
  width: 70%;
}

/*---------------------
	to-top
---------------------*/
/* line 380, ../../html/sass/style.scss */
#to-top {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 0 5rem;
  width: 4rem;
  z-index: 100;
}
/* line 387, ../../html/sass/style.scss */
#to-top a {
  display: block;
}

/*---------------------
	top
---------------------*/
/* line 397, ../../html/sass/style.scss */
#top .main-visual .main-text-area {
  width: 55%;
}
/* line 399, ../../html/sass/style.scss */
#top .main-visual .main-text-area .ttl {
  font-size: 2.1rem;
}
/* line 403, ../../html/sass/style.scss */
#top .main-visual .main-text-area p.main-text {
  font-size: 4rem;
}
/* line 411, ../../html/sass/style.scss */
#top .main-visual .main-logo {
  width: 43%;
}
/* line 416, ../../html/sass/style.scss */
#top .banner-list-area .banner-list {
  text-align: center;
}
/* line 418, ../../html/sass/style.scss */
#top .banner-list-area .banner-list li {
  display: inline-block;
  width: 310px;
  margin: 0 .5rem 0 0;
  overflow: hidden;
}
/* line 423, ../../html/sass/style.scss */
#top .banner-list-area .banner-list li a {
  display: block;
  position: relative;
}
/* line 426, ../../html/sass/style.scss */
#top .banner-list-area .banner-list li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0px solid #fccf00;
}
/* line 437, ../../html/sass/style.scss */
#top .banner-list-area .banner-list li a:hover:before {
  border: 15px solid #fccf00;
}
/* line 443, ../../html/sass/style.scss */
#top .banner-list-area .banner-list li:last-child {
  margin: 0;
}
/* line 449, ../../html/sass/style.scss */
#top .news-area {
  padding: 3rem 0;
}
/* line 451, ../../html/sass/style.scss */
#top .news-area .title-area {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}
/* line 456, ../../html/sass/style.scss */
#top .news-area .title-area p.en {
  font-size: 1.25rem;
  font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
  font-style: italic;
  margin: 0 0 1rem;
  color: #385571;
}
/* line 463, ../../html/sass/style.scss */
#top .news-area .title-area p.ja {
  padding: 0 0 0 5px;
  font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
  font-size: .75rem;
  position: relative;
}
/* line 468, ../../html/sass/style.scss */
#top .news-area .title-area p.ja:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: .8rem;
  height: 1px;
  background: #fccf00;
  margin: -.5rem 0 0 .5rem;
}
/* line 481, ../../html/sass/style.scss */
#top .news-area .news-list-area {
  display: inline-block;
  width: 73%;
}
/* line 485, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li {
  border-bottom: 1px solid #eee;
  padding: .5rem 0;
}
/* line 488, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .info {
  display: inline-block;
  width: 23%;
}
/* line 491, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .info .date {
  font-size: .75rem;
  margin: 0 .5rem 0 0;
}
/* line 495, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .info .news-category {
  background: #fccf00;
  font-size: .75rem;
  font-style: italic;
}
/* line 500, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .info .category {
  font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
  padding: .2rem 1.5rem;
}
/* line 505, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .news-title-area {
  display: inline-block;
  width: 75%;
  overflow: hidden;
}
/* line 509, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .news-title-area .news-title {
  display: inline-block;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
/* line 515, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .news-title-area .news-title a {
  font-size: .75rem;
}
/* line 517, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .news-title-area .news-title a:hover {
  text-decoration: underline;
}

/*---------------------
	concept
---------------------*/
/* line 533, ../../html/sass/style.scss */
#concept .main-visual .main-ttl-area {
  font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
  text-align: left;
}
/* line 536, ../../html/sass/style.scss */
#concept .main-visual .main-ttl-area .main-ttl {
  font-size: .75rem;
  font-style: italic;
  margin: 0 0 .5rem;
}
/* line 541, ../../html/sass/style.scss */
#concept .main-visual .main-ttl-area .ttl {
  font-size: 1.9rem;
  line-height: 2.8rem;
}
/* line 546, ../../html/sass/style.scss */
#concept .main-visual .main-text-area {
  width: 53%;
}
/* line 549, ../../html/sass/style.scss */
#concept .main-visual .main-logo {
  width: 45%;
}
/* line 551, ../../html/sass/style.scss */
#concept .main-visual .main-logo p {
  font-size: .6rem;
  text-align: right;
}
/* line 558, ../../html/sass/style.scss */
#concept .dot-box-area .dot-box {
  text-align: center;
}
/* line 560, ../../html/sass/style.scss */
#concept .dot-box-area .dot-box .left-area {
  width: 49%;
  text-align: left;
}
/* line 564, ../../html/sass/style.scss */
#concept .dot-box-area .dot-box .right-area {
  width: 49%;
  text-align: left;
}

/*---------------------
	action
---------------------*/
/* line 576, ../../html/sass/style.scss */
#action .main-visual .main-text-area {
  width: 50%;
}
/* line 578, ../../html/sass/style.scss */
#action .main-visual .main-text-area .mission-list {
  margin: 3rem 0 0;
}
/* line 580, ../../html/sass/style.scss */
#action .main-visual .main-text-area .mission-list li {
  margin: 0 0 3rem;
}
/* line 582, ../../html/sass/style.scss */
#action .main-visual .main-text-area .mission-list li .mission-ttl {
  font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
  font-style: italic;
  font-size: 1.25rem;
  color: #385571;
  border-bottom: 1px solid #385571;
  margin: 0 0 .5rem;
  width: 90%;
}
/* line 591, ../../html/sass/style.scss */
#action .main-visual .main-text-area .mission-list li .mission-explain {
  font-size: .8rem;
  line-height: 1.7rem;
}
/* line 595, ../../html/sass/style.scss */
#action .main-visual .main-text-area .mission-list li:last-child {
  margin: 0;
}
/* line 601, ../../html/sass/style.scss */
#action .main-visual .main-logo {
  width: 48%;
}
/* line 604, ../../html/sass/style.scss */
#action .main-visual .right-text-area {
  display: inline-block;
  width: 48%;
  text-align: left;
  padding: 1rem 0 0 1.5rem;
}
/* line 613, ../../html/sass/style.scss */
#action .dot-box-area .dot-box .left-area {
  width: 35%;
}
/* line 616, ../../html/sass/style.scss */
#action .dot-box-area .dot-box .right-area {
  width: 63%;
}
/* line 622, ../../html/sass/style.scss */
#action .salvage-list-area .salvage-list {
  text-align: center;
}
/* line 624, ../../html/sass/style.scss */
#action .salvage-list-area .salvage-list li {
  display: inline-block;
  width: 31%;
  margin: 0 1.4rem 2rem 0;
}
/* line 628, ../../html/sass/style.scss */
#action .salvage-list-area .salvage-list li:nth-child(3n) {
  margin: 0 0 2rem;
}
/* line 631, ../../html/sass/style.scss */
#action .salvage-list-area .salvage-list li .salvage-list-img {
  width: 10rem;
  margin: 0 auto;
}
/* line 636, ../../html/sass/style.scss */
#action .salvage-list-area .salvage-list li p.salvage-ttl {
  text-align: center;
  font-size: .8125rem;
  font-weight: bold;
  color: #385571;
  margin: 1rem 0;
}
/* line 643, ../../html/sass/style.scss */
#action .salvage-list-area .salvage-list li p.explain {
  text-align: left;
  font-size: .75rem;
}

/*---------------------
	about
---------------------*/
/* line 659, ../../html/sass/style.scss */
#about .about-content {
  margin: 3rem 0;
}
/* line 664, ../../html/sass/style.scss */
#about .team-area .team-list li {
  margin: 0 0 3rem;
}
/* line 666, ../../html/sass/style.scss */
#about .team-area .team-list li:last-child {
  margin: 0;
}
/* line 669, ../../html/sass/style.scss */
#about .team-area .team-list li .photo-img-area {
  display: inline-block;
  width: 33%;
}
/* line 672, ../../html/sass/style.scss */
#about .team-area .team-list li .photo-img-area .photo-img {
  width: 15rem;
}
/* line 676, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area {
  display: inline-block;
  width: 66%;
  vertical-align: top;
}
/* line 680, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area .position {
  font-size: .75rem;
  margin: 0 0 1rem;
}
/* line 684, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area .name {
  font-size: 1.375rem;
  margin: 0 0 .5rem;
}
/* line 687, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area .name .en {
  font-size: .625rem;
  margin: 0 0 0 1rem;
}
/* line 692, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area .work {
  font-size: .75rem;
}
/* line 695, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area .introduction {
  font-size: .75rem;
  line-height: 1.5rem;
  margin: 2rem 0 0;
  position: relative;
}
/* line 700, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area .introduction:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 1px;
  background: #000;
  margin: -1rem 0 0;
}
/* line 716, ../../html/sass/style.scss */
#about .outline-area .outline-ttl-area {
  display: inline-block;
  width: 32%;
  vertical-align: top;
}
/* line 720, ../../html/sass/style.scss */
#about .outline-area .outline-ttl-area .outline-ttl {
  font-size: .8rem;
  font-weight: bold;
}
/* line 725, ../../html/sass/style.scss */
#about .outline-area .outline-table-area {
  display: inline-block;
  width: 67%;
}
/* line 728, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table {
  border-collapse: collapse;
  width: 100%;
}
/* line 732, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table tbody tr {
  border-bottom: 1px solid #cccccc;
}
/* line 734, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table tbody tr th {
  font-weight: normal;
  font-size: .8125rem;
  width: 18%;
  text-align: left;
  padding: .5rem 0;
  vertical-align: top;
}
/* line 742, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table tbody tr td {
  font-size: .8125rem;
  width: 82%;
  padding: .5rem 0;
  line-height: 1.5rem;
}
/* line 749, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table tbody tr:first-child th {
  padding: 0 0 .5rem;
}
/* line 752, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table tbody tr:first-child td {
  padding: 0 0 .5rem;
}
/* line 756, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table tbody tr:last-child {
  border: none;
}

/*---------------------
	service
---------------------*/
/* line 769, ../../html/sass/style.scss */
#service .service-list-area {
  padding: 5rem 0;
}
/* line 771, ../../html/sass/style.scss */
#service .service-list-area .service-list {
  text-align: center;
}
/* line 773, ../../html/sass/style.scss */
#service .service-list-area .service-list li {
  float: left;
  width: 446px;
  margin: 0 1.75rem .5rem 0;
}
/* line 777, ../../html/sass/style.scss */
#service .service-list-area .service-list li:nth-child(even) {
  margin: 0 0 .5rem;
}
/* line 783, ../../html/sass/style.scss */
#service .service-list-area .service-list li p {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
  color: #385571;
  margin: .5rem 0 0;
}

/*---------------------
	contact
---------------------*/
/* line 799, ../../html/sass/style.scss */
#contact .contact-area {
  padding: 4rem 0;
}
/* line 801, ../../html/sass/style.scss */
#contact .contact-area .txt {
  font-size: .8125rem;
}
/* line 805, ../../html/sass/style.scss */
#contact form {
  font-size: .75rem;
  margin: 1.5rem 0 0;
  position: relative;
}
/* line 809, ../../html/sass/style.scss */
#contact form .radio-btn-area {
  margin: 0 0 1rem;
}
/* line 811, ../../html/sass/style.scss */
#contact form .radio-btn-area label {
  margin: 0 1rem 0 0;
}
/* line 813, ../../html/sass/style.scss */
#contact form .radio-btn-area label span {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  margin: 0 .5rem 0 0;
}
/* line 821, ../../html/sass/style.scss */
#contact form .radio-btn-area label input[type="radio"] {
  margin: 0px 0 0 1px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 5px;
}
/* line 831, ../../html/sass/style.scss */
#contact form .radio-btn-area label input[type="radio"]:checked {
  background: #cccccc;
  outline: none;
}
/* line 838, ../../html/sass/style.scss */
#contact form .input-area {
  margin: 1rem 0;
}
/* line 840, ../../html/sass/style.scss */
#contact form .input-area p {
  margin: 1rem 0;
}
/* line 843, ../../html/sass/style.scss */
#contact form .input-area input[type="text"] {
  width: 50%;
  padding: .7rem;
  border: 1px solid #aaa;
  border-radius: 5px;
}
/* line 849, ../../html/sass/style.scss */
#contact form .input-area input[type="email"] {
  width: 100%;
  padding: .7rem;
  border: 1px solid #aaa;
  border-radius: 5px;
}
/* line 855, ../../html/sass/style.scss */
#contact form .input-area textarea {
  width: 100%;
  height: 10rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: .7rem;
}
/* line 863, ../../html/sass/style.scss */
#contact form .submit-right {
  text-align: right;
}
/* line 867, ../../html/sass/style.scss */
#contact input[type="submit"] {
  -webkit-appearance: noen;
  -moz-appearance: none;
  appearance: none;
  background: #fccf00;
  border: 3px solid #fccf00;
  border-radius: 5px;
  width: 210px;
  height: 46px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
/* line 881, ../../html/sass/style.scss */
#contact input[type="submit"]:hover {
  background: #fff;
}
/* line 885, ../../html/sass/style.scss */
#contact .explain-area {
  margin: 1rem 0;
}
/* line 887, ../../html/sass/style.scss */
#contact .explain-area p {
  font-size: .75rem;
}

/* line 892, ../../html/sass/style.scss */
.download-btn {
  width: 210px;
  text-align: center;
}
/* line 895, ../../html/sass/style.scss */
.download-btn a {
  display: block;
  background: #fccf00;
  border: 3px solid #fccf00;
  border-radius: 5px;
  font-size: .75rem;
  padding: .5rem 0;
}
/* line 902, ../../html/sass/style.scss */
.download-btn a:hover {
  background: #fff;
}
