@charset "UTF-8";
/*---------------------
		フォント設定
---------------------*/
/*
@font-face {
	font-family: 'rounded';
	font-weight: normal;
	src: url('../fonts/rounded-mplus-2p-light.ttf')  format('truetype');
} */
/*---------------------
		タグ初期設定
---------------------*/
/* line 16, ../../html/sass/style.scss */
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  vertical-align: middle;
}

/* line 27, ../../html/sass/style.scss */
html,
body {
  min-height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-justify: inter-ideograph;
  -webkit-font-smoothing: antialiased;
  zoom: 1;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 16px;
}

/* line 39, ../../html/sass/style.scss */
img {
  max-width: 100%;
  height: auto;
  border: none;
}

/* line 45, ../../html/sass/style.scss */
ul li {
  list-style: none;
}

/* line 51, ../../html/sass/style.scss */
ol li {
  list-style: none;
}

/* line 56, ../../html/sass/style.scss */
a {
  color: #000;
  text-decoration: none;
}
/* line 59, ../../html/sass/style.scss */
a:hover {
  color: #000;
  cursor: pointer;
  opacity: .8;
}

/*---------------------
		共通クラス
---------------------*/
/* line 77, ../../html/sass/style.scss */
.clearfix {
  zoom: 1;
}
/* line 79, ../../html/sass/style.scss */
.clearfix:after {
  content: ' ';
  clear: both;
  display: block;
}

/* line 86, ../../html/sass/style.scss */
.sp {
  display: none;
}

/* line 89, ../../html/sass/style.scss */
.pc {
  display: block;
}

/* line 94, ../../html/sass/style.scss */
.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

/* line 99, ../../html/sass/style.scss */
.s-container {
  width: 798px;
  margin: 0 auto;
  position: relative;
}

/* line 105, ../../html/sass/style.scss */
.ss-container {
  width: 630px;
  margin: 0 auto;
  position: relative;
}

/* line 130, ../../html/sass/style.scss */
#contents .main-visual {
  padding: 3rem 0;
  text-align: center;
}
/* line 133, ../../html/sass/style.scss */
#contents .main-visual .main-text-area {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/* line 137, ../../html/sass/style.scss */
#contents .main-visual .main-text-area .ttl {
  font-size: 1.9rem;
}
/* line 140, ../../html/sass/style.scss */
#contents .main-visual .main-text-area .main-ttl {
  font-size: .75rem;
  font-family: 'Georgia Italic';
  font-style: italic;
}
/* line 147, ../../html/sass/style.scss */
#contents .main-visual .text-content p {
  font-size: .8rem;
  font-family: '游ゴシック体';
  line-height: 1.7rem;
  padding: 1rem 0;
}
/* line 154, ../../html/sass/style.scss */
#contents .main-visual .main-logo {
  display: inline-block;
  vertical-align: middle;
}
/* line 159, ../../html/sass/style.scss */
#contents .line-img {
  margin: 1.5rem 0;
}
/* line 162, ../../html/sass/style.scss */
#contents .page-ttl-area {
  background: #fccf00;
  text-align: center;
  padding: 2rem 0;
}
/* line 166, ../../html/sass/style.scss */
#contents .page-ttl-area p {
  font-size: 1rem;
}
/* line 169, ../../html/sass/style.scss */
#contents .page-ttl-area .page-ttl {
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Georgia Italic';
  font-style: italic;
  margin: 0 0 .5rem;
}
/* line 176, ../../html/sass/style.scss */
#contents .page-ttl-area .sub-ttl {
  font-size: .75rem;
  font-family: 'Georgia Italic';
  font-style: italic;
}
/* line 182, ../../html/sass/style.scss */
#contents .dot-box-area {
  margin: 2rem 0 4rem;
}
/* line 184, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box {
  border: 3px dotted #385571;
  border-radius: 5px;
  padding: 2rem 2.25rem;
}
/* line 188, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box p {
  font-family: '游ゴシック体';
}
/* line 191, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .left-area {
  display: inline-block;
  vertical-align: top;
}
/* line 194, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .left-area p {
  font-weight: bold;
}
/* line 196, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .left-area p.b-txt {
  font-size: .95rem;
}
/* line 199, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .left-area p.s-txt {
  font-size: .6px;
}
/* line 204, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .right-area {
  display: inline-block;
  vertical-align: top;
}
/* line 207, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .right-area p {
  font-size: .75rem;
  line-height: 1.5rem;
  margin: 0 0 1rem;
}
/* line 211, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .right-area p:last-child {
  margin: 0;
}
/* line 218, ../../html/sass/style.scss */
#contents .contact-link-area {
  background: #fccf00;
  text-align: center;
  padding: 1.5rem 0 2rem;
}
/* line 222, ../../html/sass/style.scss */
#contents .contact-link-area p {
  margin: 0 0 1rem;
  font-size: .85rem;
}
/* line 227, ../../html/sass/style.scss */
#contents .contact-link-area .contact-link-list li {
  display: inline-block;
  width: 48%;
  margin: 0 .5rem 0 0;
}
/* line 231, ../../html/sass/style.scss */
#contents .contact-link-area .contact-link-list li:last-child {
  margin: 0;
}
/* line 234, ../../html/sass/style.scss */
#contents .contact-link-area .contact-link-list li a {
  display: block;
}
/* line 240, ../../html/sass/style.scss */
#contents .contact-link-area .contact-link-list li:last-child {
  margin: 0;
}
/* line 246, ../../html/sass/style.scss */
#contents .party-area {
  padding: 1.5rem 0;
}
/* line 248, ../../html/sass/style.scss */
#contents .party-area .party-logo {
  width: 10rem;
  margin: 0 auto;
}

/*---------------------
		ヘッダー
---------------------*/
/* line 257, ../../html/sass/style.scss */
#header {
  border-top: 10px solid #fccf00;
  padding: 0 0 .5rem;
}
/* line 260, ../../html/sass/style.scss */
#header .head-logo {
  display: inline-block;
  width: 13rem;
}
/* line 263, ../../html/sass/style.scss */
#header .head-logo a {
  display: block;
}
/* line 267, ../../html/sass/style.scss */
#header .head-list-wrap {
  display: inline-block;
  width: 77%;
  text-align: right;
}
/* line 271, ../../html/sass/style.scss */
#header .head-list-wrap .nav-list {
  display: inline-block;
  width: 80%;
  text-align: right;
}
/* line 275, ../../html/sass/style.scss */
#header .head-list-wrap .nav-list li {
  display: inline-block;
  margin: 0 1rem 0 0;
}
/* line 278, ../../html/sass/style.scss */
#header .head-list-wrap .nav-list li a {
  font-size: .8rem;
  font-family: 'Georgia Italic';
  font-style: italic;
}
/* line 285, ../../html/sass/style.scss */
#header .head-list-wrap .sns-list {
  display: inline-block;
  width: 17%;
}
/* line 288, ../../html/sass/style.scss */
#header .head-list-wrap .sns-list li {
  display: inline-block;
  width: 2rem;
  margin: 0 1rem 0 0;
}
/* line 292, ../../html/sass/style.scss */
#header .head-list-wrap .sns-list li a {
  display: block;
}
/* line 298, ../../html/sass/style.scss */
#header .head-list-wrap .sns-list li:last-child {
  margin: 0;
}

/*---------------------
		フッター
---------------------*/
/* line 310, ../../html/sass/style.scss */
#footer .foot-link-list-area {
  background: #f0f0f0;
  padding: 1rem 0;
}
/* line 313, ../../html/sass/style.scss */
#footer .foot-link-list-area .foot-link-list {
  text-align: center;
}
/* line 315, ../../html/sass/style.scss */
#footer .foot-link-list-area .foot-link-list li {
  display: inline-block;
  margin: 0 2rem 0 0;
}
/* line 318, ../../html/sass/style.scss */
#footer .foot-link-list-area .foot-link-list li:last-child {
  margin: 0;
}
/* line 321, ../../html/sass/style.scss */
#footer .foot-link-list-area .foot-link-list li a {
  font-size: .8rem;
  font-family: 'Georgia Italic';
  display: block;
  font-style: italic;
}
/* line 330, ../../html/sass/style.scss */
#footer .copyright-area {
  background: #385571;
  padding: 1rem 0;
}
/* line 333, ../../html/sass/style.scss */
#footer .copyright-area p {
  display: inline-block;
  color: #fff;
  font-size: .7rem;
}
/* line 337, ../../html/sass/style.scss */
#footer .copyright-area p.copyright-text {
  width: 28%;
}
/* line 340, ../../html/sass/style.scss */
#footer .copyright-area p.text {
  text-align: right;
  width: 70%;
}

/*---------------------
	to-top
---------------------*/
/* line 350, ../../html/sass/style.scss */
#to-top {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 0 5rem;
  width: 4rem;
  z-index: 100;
}
/* line 357, ../../html/sass/style.scss */
#to-top a {
  display: block;
}

/*---------------------
	top
---------------------*/
/* line 367, ../../html/sass/style.scss */
#top .main-visual .main-text-area {
  width: 55%;
}
/* line 369, ../../html/sass/style.scss */
#top .main-visual .main-text-area .ttl {
  font-size: 2.1rem;
}
/* line 373, ../../html/sass/style.scss */
#top .main-visual .main-text-area p.main-text {
  font-size: 4rem;
}
/* line 381, ../../html/sass/style.scss */
#top .main-visual .main-logo {
  width: 43%;
}
/* line 386, ../../html/sass/style.scss */
#top .banner-list-area .banner-list {
  text-align: center;
}
/* line 388, ../../html/sass/style.scss */
#top .banner-list-area .banner-list li {
  display: inline-block;
  width: 310px;
  margin: 0 .5rem 0 0;
}
/* line 393, ../../html/sass/style.scss */
#top .banner-list-area .banner-list li:last-child {
  margin: 0;
}
/* line 399, ../../html/sass/style.scss */
#top .news-area {
  padding: 3rem 0;
}
/* line 401, ../../html/sass/style.scss */
#top .news-area .title-area {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}
/* line 406, ../../html/sass/style.scss */
#top .news-area .title-area p.en {
  font-size: 1.25rem;
  font-family: 'Georgia Italic';
  font-style: italic;
  margin: 0 0 1rem;
  color: #385571;
}
/* line 413, ../../html/sass/style.scss */
#top .news-area .title-area p.ja {
  padding: 0 0 0 5px;
  font-family: '游明朝体';
  font-size: .75rem;
  position: relative;
}
/* line 418, ../../html/sass/style.scss */
#top .news-area .title-area p.ja:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: .8rem;
  height: 1px;
  background: #fccf00;
  margin: -.5rem 0 0 .5rem;
}
/* line 431, ../../html/sass/style.scss */
#top .news-area .news-list-area {
  display: inline-block;
  width: 73%;
}
/* line 435, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li {
  border-bottom: 1px solid #eee;
}
/* line 437, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .info {
  display: inline-block;
  width: 23%;
}
/* line 440, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .info .date {
  font-size: .75rem;
  font-family: '游ゴシック体';
  margin: 0 .5rem 0 0;
}
/* line 445, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .info .news-category {
  background: #fccf00;
  font-size: .75rem;
  font-family: 'Georgia Italic';
  font-style: italic;
}
/* line 451, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .info .category {
  padding: .2rem 1.5rem;
}
/* line 455, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .news-title-area {
  display: inline-block;
  width: 75%;
  overflow: hidden;
}
/* line 459, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .news-title-area .news-title {
  display: inline-block;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
/* line 466, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .news-title-area .news-title a {
  font-size: .75rem;
  font-family: '游ゴシック体';
}
/* line 469, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .news-title-area .news-title a:hover {
  text-decoration: underline;
}

/*---------------------
	concept
---------------------*/
/* line 485, ../../html/sass/style.scss */
#concept .main-visual .main-ttl-area {
  text-align: left;
}
/* line 487, ../../html/sass/style.scss */
#concept .main-visual .main-ttl-area .main-ttl {
  font-size: .75rem;
  font-family: 'Georgia Italic';
  font-style: italic;
  margin: 0 0 .5rem;
}
/* line 493, ../../html/sass/style.scss */
#concept .main-visual .main-ttl-area .ttl {
  font-size: 1.9rem;
  line-height: 2.8rem;
}
/* line 499, ../../html/sass/style.scss */
#concept .main-visual .main-text-area {
  width: 53%;
}
/* line 502, ../../html/sass/style.scss */
#concept .main-visual .main-logo {
  width: 45%;
}
/* line 504, ../../html/sass/style.scss */
#concept .main-visual .main-logo p {
  font-size: .6rem;
  text-align: right;
}
/* line 511, ../../html/sass/style.scss */
#concept .dot-box-area .dot-box {
  text-align: center;
}
/* line 513, ../../html/sass/style.scss */
#concept .dot-box-area .dot-box .left-area {
  width: 49%;
  text-align: left;
}
/* line 517, ../../html/sass/style.scss */
#concept .dot-box-area .dot-box .right-area {
  width: 49%;
  text-align: left;
}

/*---------------------
	action
---------------------*/
/* line 529, ../../html/sass/style.scss */
#action .main-visual .main-text-area {
  width: 50%;
}
/* line 531, ../../html/sass/style.scss */
#action .main-visual .main-text-area .mission-list {
  margin: 3rem 0 0;
}
/* line 533, ../../html/sass/style.scss */
#action .main-visual .main-text-area .mission-list li {
  margin: 0 0 3rem;
}
/* line 535, ../../html/sass/style.scss */
#action .main-visual .main-text-area .mission-list li .mission-ttl {
  font-family: 'Georgia Italic';
  font-style: italic;
  font-size: 1.25rem;
  color: #385571;
  border-bottom: 1px solid #385571;
  margin: 0 0 .5rem;
  width: 90%;
}
/* line 544, ../../html/sass/style.scss */
#action .main-visual .main-text-area .mission-list li .mission-explain {
  font-size: .8rem;
  font-family: '游ゴシック体';
  line-height: 1.7rem;
}
/* line 550, ../../html/sass/style.scss */
#action .main-visual .main-text-area .mission-list li:last-child {
  margin: 0;
}
/* line 556, ../../html/sass/style.scss */
#action .main-visual .main-logo {
  width: 48%;
}
/* line 559, ../../html/sass/style.scss */
#action .main-visual .right-text-area {
  display: inline-block;
  width: 48%;
  text-align: left;
  padding: 1rem 0 0 1.5rem;
}
/* line 568, ../../html/sass/style.scss */
#action .dot-box-area .dot-box .left-area {
  width: 35%;
}
/* line 571, ../../html/sass/style.scss */
#action .dot-box-area .dot-box .right-area {
  width: 63%;
}
/* line 577, ../../html/sass/style.scss */
#action .salvage-list-area .salvage-list {
  text-align: center;
}
/* line 579, ../../html/sass/style.scss */
#action .salvage-list-area .salvage-list li {
  display: inline-block;
  width: 31%;
  margin: 0 1.4rem 2rem 0;
}
/* line 583, ../../html/sass/style.scss */
#action .salvage-list-area .salvage-list li:nth-child(3n) {
  margin: 0 0 2rem;
}
/* line 586, ../../html/sass/style.scss */
#action .salvage-list-area .salvage-list li .salvage-list-img {
  width: 10rem;
  margin: 0 auto;
}
/* line 591, ../../html/sass/style.scss */
#action .salvage-list-area .salvage-list li p.salvage-ttl {
  text-align: center;
  font-size: .8125rem;
  font-weight: bold;
  color: #385571;
  font-family: "游ゴシック体";
  margin: 1rem 0;
}
/* line 599, ../../html/sass/style.scss */
#action .salvage-list-area .salvage-list li p.explain {
  text-align: left;
  font-size: .75rem;
  font-family: "游ゴシック体";
}

/*---------------------
	about
---------------------*/
/* line 616, ../../html/sass/style.scss */
#about .about-content {
  margin: 3rem 0;
}
/* line 618, ../../html/sass/style.scss */
#about .about-content .ttl {
  font-size: 1.55rem;
  font-family: 'Georgia Italic';
  font-style: italic;
  color: #385571;
  margin: 0 0 2rem;
}
/* line 628, ../../html/sass/style.scss */
#about .team-area .team-list li {
  margin: 0 0 3rem;
}
/* line 630, ../../html/sass/style.scss */
#about .team-area .team-list li:last-child {
  margin: 0;
}
/* line 633, ../../html/sass/style.scss */
#about .team-area .team-list li .photo-img-area {
  display: inline-block;
  width: 33%;
}
/* line 636, ../../html/sass/style.scss */
#about .team-area .team-list li .photo-img-area .photo-img {
  width: 15rem;
}
/* line 640, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area {
  display: inline-block;
  width: 66%;
  vertical-align: top;
}
/* line 644, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area .position {
  font-size: .75rem;
  font-family: '游ゴシック体';
  margin: 0 0 1rem;
}
/* line 649, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area .name {
  font-size: 1.375rem;
  font-family: 'ヒラギノ';
  margin: 0 0 .5rem;
}
/* line 653, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area .name .en {
  font-size: .625rem;
  margin: 0 0 0 1rem;
}
/* line 658, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area .work {
  font-size: .75rem;
  font-family: '游ゴシック体';
}
/* line 662, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area .introduction {
  font-size: .75rem;
  font-family: '游ゴシック体';
  line-height: 1.5rem;
  margin: 2rem 0 0;
  position: relative;
}
/* line 668, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area .introduction:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 1px;
  background: #000;
  margin: -1rem 0 0;
}
/* line 684, ../../html/sass/style.scss */
#about .outline-area .outline-ttl-area {
  display: inline-block;
  width: 32%;
  vertical-align: top;
}
/* line 688, ../../html/sass/style.scss */
#about .outline-area .outline-ttl-area .outline-ttl {
  font-size: .8rem;
  font-family: '游ゴシック体';
  font-weight: bold;
}
/* line 694, ../../html/sass/style.scss */
#about .outline-area .outline-table-area {
  display: inline-block;
  width: 67%;
}
/* line 697, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table {
  border-collapse: collapse;
  width: 100%;
}
/* line 701, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table tbody tr {
  border-bottom: 1px solid #cccccc;
}
/* line 703, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table tbody tr th {
  font-weight: normal;
  font-size: .8125rem;
  font-family: '游ゴシック体';
  width: 18%;
  text-align: left;
  padding: .5rem 0;
  vertical-align: top;
}
/* line 712, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table tbody tr td {
  font-size: .8125rem;
  font-family: '游ゴシック体';
  width: 82%;
  padding: .5rem 0;
  line-height: 1.5rem;
}
/* line 720, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table tbody tr:first-child th {
  padding: 0 0 .5rem;
}
/* line 723, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table tbody tr:first-child td {
  padding: 0 0 .5rem;
}
/* line 727, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table tbody tr:last-child {
  border: none;
}

/*---------------------
	contact
---------------------*/
/*---------------------
	top
---------------------*/
/*---------------------
	top
---------------------*/
/*---------------------
		スマホ対応
---------------------*/
@media only screen and (max-width: 640px) {
  /* line 758, ../../html/sass/style.scss */
  .sp {
    display: block;
  }

  /* line 761, ../../html/sass/style.scss */
  .pc {
    display: none;
  }

  /* line 764, ../../html/sass/style.scss */
  .container {
    width: 97%;
    margin: 0 auto;
  }
}
