@charset "UTF-8";
/*---------------------
		フォント設定
---------------------*/
/*
@font-face {
	font-family: 'rounded';
	font-weight: normal;
	src: url('../fonts/rounded-mplus-2p-light.ttf')  format('truetype');
} */
/*---------------------
		タグ初期設定
---------------------*/
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
/* line 18, ../../html/sass/style.scss */
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  vertical-align: middle;
}

/* line 29, ../../html/sass/style.scss */
html,
body {
  min-height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-justify: inter-ideograph;
  -webkit-font-smoothing: antialiased;
  zoom: 1;
  font-size: 16px;
}

/* line 42, ../../html/sass/style.scss */
body {
  font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}

/* line 46, ../../html/sass/style.scss */
img {
  max-width: 100%;
  height: auto;
  border: none;
}

/* line 52, ../../html/sass/style.scss */
ul li {
  list-style: none;
}

/* line 58, ../../html/sass/style.scss */
ol li {
  list-style: none;
}

/* line 63, ../../html/sass/style.scss */
a {
  color: #000;
  text-decoration: none;
}
/* line 66, ../../html/sass/style.scss */
a:hover {
  color: #000;
  cursor: pointer;
  opacity: .8;
}

/*---------------------
		共通クラス
---------------------*/
/* line 84, ../../html/sass/style.scss */
.clearfix {
  zoom: 1;
}
/* line 86, ../../html/sass/style.scss */
.clearfix:after {
  content: ' ';
  clear: both;
  display: block;
}

/* line 93, ../../html/sass/style.scss */
.sp {
  display: none;
}

/* line 96, ../../html/sass/style.scss */
.pc {
  display: block;
}

/* line 101, ../../html/sass/style.scss */
.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

/* line 106, ../../html/sass/style.scss */
.s-container {
  width: 798px;
  margin: 0 auto;
  position: relative;
}

/* line 112, ../../html/sass/style.scss */
.ss-container {
  width: 630px;
  margin: 0 auto;
  position: relative;
}

/* line 117, ../../html/sass/style.scss */
.service-container {
  width: 920px;
  margin: 0 auto;
  position: relative;
}

/* line 137, ../../html/sass/style.scss */
.content-ttl {
  font-size: 1.55rem;
  font-style: italic;
  color: #385571;
  margin: 0 0 2rem;
}

/* line 146, ../../html/sass/style.scss */
#contents .main-visual {
  padding: 3rem 0;
  text-align: center;
}
/* line 149, ../../html/sass/style.scss */
#contents .main-visual .main-text-area {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/* line 153, ../../html/sass/style.scss */
#contents .main-visual .main-text-area .ttl {
  font-size: 1.9rem;
}
/* line 156, ../../html/sass/style.scss */
#contents .main-visual .main-text-area .main-ttl {
  font-size: .75rem;
  font-style: italic;
}
/* line 163, ../../html/sass/style.scss */
#contents .main-visual .text-content p {
  font-size: .8rem;
  font-family: '游ゴシック体';
  line-height: 1.7rem;
  padding: 1rem 0;
}
/* line 170, ../../html/sass/style.scss */
#contents .main-visual .main-logo {
  display: inline-block;
  vertical-align: middle;
}
/* line 175, ../../html/sass/style.scss */
#contents .line-img {
  margin: 1.5rem 0;
}
/* line 178, ../../html/sass/style.scss */
#contents .page-ttl-area {
  background: #fccf00;
  text-align: center;
  padding: 2rem 0;
}
/* line 182, ../../html/sass/style.scss */
#contents .page-ttl-area p {
  font-size: 1rem;
}
/* line 185, ../../html/sass/style.scss */
#contents .page-ttl-area .page-ttl {
  font-size: 1.5rem;
  color: #fff;
  font-style: italic;
  margin: 0 0 .5rem;
}
/* line 192, ../../html/sass/style.scss */
#contents .page-ttl-area .sub-ttl {
  font-size: .75rem;
  font-style: italic;
}
/* line 198, ../../html/sass/style.scss */
#contents .dot-box-area {
  margin: 2rem 0 4rem;
}
/* line 200, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box {
  border: 3px dotted #385571;
  border-radius: 5px;
  padding: 2rem 2.25rem;
}
/* line 204, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box p {
  font-family: '游ゴシック体';
}
/* line 207, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .left-area {
  display: inline-block;
  vertical-align: top;
}
/* line 210, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .left-area p {
  font-weight: bold;
}
/* line 212, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .left-area p.b-txt {
  font-size: .95rem;
}
/* line 215, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .left-area p.s-txt {
  font-size: .6px;
}
/* line 220, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .right-area {
  display: inline-block;
  vertical-align: top;
}
/* line 223, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .right-area p {
  font-size: .75rem;
  line-height: 1.5rem;
  margin: 0 0 1rem;
}
/* line 227, ../../html/sass/style.scss */
#contents .dot-box-area .dot-box .right-area p:last-child {
  margin: 0;
}
/* line 234, ../../html/sass/style.scss */
#contents .contact-link-area {
  background: #fccf00;
  text-align: center;
  padding: 1.5rem 0 2rem;
}
/* line 238, ../../html/sass/style.scss */
#contents .contact-link-area p {
  margin: 0 0 1rem;
  font-size: .85rem;
}
/* line 243, ../../html/sass/style.scss */
#contents .contact-link-area .contact-link-list li {
  display: inline-block;
  width: 48%;
  margin: 0 .5rem 0 0;
}
/* line 247, ../../html/sass/style.scss */
#contents .contact-link-area .contact-link-list li:last-child {
  margin: 0;
}
/* line 250, ../../html/sass/style.scss */
#contents .contact-link-area .contact-link-list li a {
  display: block;
}
/* line 256, ../../html/sass/style.scss */
#contents .contact-link-area .contact-link-list li:last-child {
  margin: 0;
}
/* line 262, ../../html/sass/style.scss */
#contents .party-area {
  padding: 1.5rem 0;
}
/* line 264, ../../html/sass/style.scss */
#contents .party-area .party-logo {
  width: 10rem;
  margin: 0 auto;
}

/*---------------------
		ヘッダー
---------------------*/
/* line 273, ../../html/sass/style.scss */
#header {
  border-top: 10px solid #fccf00;
  padding: .5rem 0;
}
/* line 276, ../../html/sass/style.scss */
#header .head-logo {
  display: inline-block;
  width: 13rem;
}
/* line 279, ../../html/sass/style.scss */
#header .head-logo a {
  display: block;
}
/* line 283, ../../html/sass/style.scss */
#header .head-list-wrap {
  display: inline-block;
  width: 77%;
  text-align: right;
}
/* line 287, ../../html/sass/style.scss */
#header .head-list-wrap .nav-list {
  display: inline-block;
  width: 80%;
  text-align: right;
}
/* line 291, ../../html/sass/style.scss */
#header .head-list-wrap .nav-list li {
  display: inline-block;
  margin: 0 1rem 0 0;
}
/* line 294, ../../html/sass/style.scss */
#header .head-list-wrap .nav-list li a {
  font-size: .8rem;
  font-style: italic;
}
/* line 301, ../../html/sass/style.scss */
#header .head-list-wrap .sns-list {
  display: inline-block;
  width: 17%;
}
/* line 304, ../../html/sass/style.scss */
#header .head-list-wrap .sns-list li {
  display: inline-block;
  width: 2rem;
  margin: 0 1rem 0 0;
}
/* line 308, ../../html/sass/style.scss */
#header .head-list-wrap .sns-list li a {
  display: block;
}
/* line 314, ../../html/sass/style.scss */
#header .head-list-wrap .sns-list li:last-child {
  margin: 0;
}

/*---------------------
		フッター
---------------------*/
/* line 326, ../../html/sass/style.scss */
#footer .foot-link-list-area {
  background: #f0f0f0;
  padding: 1rem 0;
}
/* line 329, ../../html/sass/style.scss */
#footer .foot-link-list-area .foot-link-list {
  text-align: center;
}
/* line 331, ../../html/sass/style.scss */
#footer .foot-link-list-area .foot-link-list li {
  display: inline-block;
  margin: 0 2rem 0 0;
}
/* line 334, ../../html/sass/style.scss */
#footer .foot-link-list-area .foot-link-list li:last-child {
  margin: 0;
}
/* line 337, ../../html/sass/style.scss */
#footer .foot-link-list-area .foot-link-list li a {
  font-size: .8rem;
  display: block;
  font-style: italic;
}
/* line 346, ../../html/sass/style.scss */
#footer .copyright-area {
  background: #385571;
  padding: 1rem 0;
}
/* line 349, ../../html/sass/style.scss */
#footer .copyright-area p {
  display: inline-block;
  color: #fff;
  font-size: .7rem;
}
/* line 353, ../../html/sass/style.scss */
#footer .copyright-area p.copyright-text {
  width: 28%;
}
/* line 356, ../../html/sass/style.scss */
#footer .copyright-area p.text {
  text-align: right;
  width: 70%;
}

/*---------------------
	to-top
---------------------*/
/* line 366, ../../html/sass/style.scss */
#to-top {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 0 5rem;
  width: 4rem;
  z-index: 100;
}
/* line 373, ../../html/sass/style.scss */
#to-top a {
  display: block;
}

/*---------------------
	top
---------------------*/
/* line 383, ../../html/sass/style.scss */
#top .main-visual .main-text-area {
  width: 55%;
}
/* line 385, ../../html/sass/style.scss */
#top .main-visual .main-text-area .ttl {
  font-size: 2.1rem;
}
/* line 389, ../../html/sass/style.scss */
#top .main-visual .main-text-area p.main-text {
  font-size: 4rem;
}
/* line 397, ../../html/sass/style.scss */
#top .main-visual .main-logo {
  width: 43%;
}
/* line 402, ../../html/sass/style.scss */
#top .banner-list-area .banner-list {
  text-align: center;
}
/* line 404, ../../html/sass/style.scss */
#top .banner-list-area .banner-list li {
  display: inline-block;
  width: 310px;
  margin: 0 .5rem 0 0;
}
/* line 409, ../../html/sass/style.scss */
#top .banner-list-area .banner-list li:last-child {
  margin: 0;
}
/* line 415, ../../html/sass/style.scss */
#top .news-area {
  padding: 3rem 0;
}
/* line 417, ../../html/sass/style.scss */
#top .news-area .title-area {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}
/* line 422, ../../html/sass/style.scss */
#top .news-area .title-area p.en {
  font-size: 1.25rem;
  font-style: italic;
  margin: 0 0 1rem;
  color: #385571;
}
/* line 429, ../../html/sass/style.scss */
#top .news-area .title-area p.ja {
  padding: 0 0 0 5px;
  font-family: '游明朝体';
  font-size: .75rem;
  position: relative;
}
/* line 434, ../../html/sass/style.scss */
#top .news-area .title-area p.ja:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: .8rem;
  height: 1px;
  background: #fccf00;
  margin: -.5rem 0 0 .5rem;
}
/* line 447, ../../html/sass/style.scss */
#top .news-area .news-list-area {
  display: inline-block;
  width: 73%;
}
/* line 451, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li {
  border-bottom: 1px solid #eee;
}
/* line 453, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .info {
  display: inline-block;
  width: 23%;
}
/* line 456, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .info .date {
  font-size: .75rem;
  font-family: '游ゴシック体';
  margin: 0 .5rem 0 0;
}
/* line 461, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .info .news-category {
  background: #fccf00;
  font-size: .75rem;
  font-style: italic;
}
/* line 467, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .info .category {
  padding: .2rem 1.5rem;
}
/* line 471, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .news-title-area {
  display: inline-block;
  width: 75%;
  overflow: hidden;
}
/* line 475, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .news-title-area .news-title {
  display: inline-block;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
/* line 482, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .news-title-area .news-title a {
  font-size: .75rem;
  font-family: '游ゴシック体';
}
/* line 485, ../../html/sass/style.scss */
#top .news-area .news-list-area .news-list li .news-title-area .news-title a:hover {
  text-decoration: underline;
}

/*---------------------
	concept
---------------------*/
/* line 501, ../../html/sass/style.scss */
#concept .main-visual .main-ttl-area {
  text-align: left;
}
/* line 503, ../../html/sass/style.scss */
#concept .main-visual .main-ttl-area .main-ttl {
  font-size: .75rem;
  font-style: italic;
  margin: 0 0 .5rem;
}
/* line 509, ../../html/sass/style.scss */
#concept .main-visual .main-ttl-area .ttl {
  font-size: 1.9rem;
  line-height: 2.8rem;
}
/* line 515, ../../html/sass/style.scss */
#concept .main-visual .main-text-area {
  width: 53%;
}
/* line 518, ../../html/sass/style.scss */
#concept .main-visual .main-logo {
  width: 45%;
}
/* line 520, ../../html/sass/style.scss */
#concept .main-visual .main-logo p {
  font-size: .6rem;
  text-align: right;
}
/* line 527, ../../html/sass/style.scss */
#concept .dot-box-area .dot-box {
  text-align: center;
}
/* line 529, ../../html/sass/style.scss */
#concept .dot-box-area .dot-box .left-area {
  width: 49%;
  text-align: left;
}
/* line 533, ../../html/sass/style.scss */
#concept .dot-box-area .dot-box .right-area {
  width: 49%;
  text-align: left;
}

/*---------------------
	action
---------------------*/
/* line 545, ../../html/sass/style.scss */
#action .main-visual .main-text-area {
  width: 50%;
}
/* line 547, ../../html/sass/style.scss */
#action .main-visual .main-text-area .mission-list {
  margin: 3rem 0 0;
}
/* line 549, ../../html/sass/style.scss */
#action .main-visual .main-text-area .mission-list li {
  margin: 0 0 3rem;
}
/* line 551, ../../html/sass/style.scss */
#action .main-visual .main-text-area .mission-list li .mission-ttl {
  font-style: italic;
  font-size: 1.25rem;
  color: #385571;
  border-bottom: 1px solid #385571;
  margin: 0 0 .5rem;
  width: 90%;
}
/* line 560, ../../html/sass/style.scss */
#action .main-visual .main-text-area .mission-list li .mission-explain {
  font-size: .8rem;
  font-family: '游ゴシック体';
  line-height: 1.7rem;
}
/* line 566, ../../html/sass/style.scss */
#action .main-visual .main-text-area .mission-list li:last-child {
  margin: 0;
}
/* line 572, ../../html/sass/style.scss */
#action .main-visual .main-logo {
  width: 48%;
}
/* line 575, ../../html/sass/style.scss */
#action .main-visual .right-text-area {
  display: inline-block;
  width: 48%;
  text-align: left;
  padding: 1rem 0 0 1.5rem;
}
/* line 584, ../../html/sass/style.scss */
#action .dot-box-area .dot-box .left-area {
  width: 35%;
}
/* line 587, ../../html/sass/style.scss */
#action .dot-box-area .dot-box .right-area {
  width: 63%;
}
/* line 593, ../../html/sass/style.scss */
#action .salvage-list-area .salvage-list {
  text-align: center;
}
/* line 595, ../../html/sass/style.scss */
#action .salvage-list-area .salvage-list li {
  display: inline-block;
  width: 31%;
  margin: 0 1.4rem 2rem 0;
}
/* line 599, ../../html/sass/style.scss */
#action .salvage-list-area .salvage-list li:nth-child(3n) {
  margin: 0 0 2rem;
}
/* line 602, ../../html/sass/style.scss */
#action .salvage-list-area .salvage-list li .salvage-list-img {
  width: 10rem;
  margin: 0 auto;
}
/* line 607, ../../html/sass/style.scss */
#action .salvage-list-area .salvage-list li p.salvage-ttl {
  text-align: center;
  font-size: .8125rem;
  font-weight: bold;
  color: #385571;
  font-family: "游ゴシック体";
  margin: 1rem 0;
}
/* line 615, ../../html/sass/style.scss */
#action .salvage-list-area .salvage-list li p.explain {
  text-align: left;
  font-size: .75rem;
  font-family: "游ゴシック体";
}

/*---------------------
	about
---------------------*/
/* line 632, ../../html/sass/style.scss */
#about .about-content {
  margin: 3rem 0;
}
/* line 637, ../../html/sass/style.scss */
#about .team-area .team-list li {
  margin: 0 0 3rem;
}
/* line 639, ../../html/sass/style.scss */
#about .team-area .team-list li:last-child {
  margin: 0;
}
/* line 642, ../../html/sass/style.scss */
#about .team-area .team-list li .photo-img-area {
  display: inline-block;
  width: 33%;
}
/* line 645, ../../html/sass/style.scss */
#about .team-area .team-list li .photo-img-area .photo-img {
  width: 15rem;
}
/* line 649, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area {
  display: inline-block;
  width: 66%;
  vertical-align: top;
}
/* line 653, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area .position {
  font-size: .75rem;
  font-family: '游ゴシック体';
  margin: 0 0 1rem;
}
/* line 658, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area .name {
  font-size: 1.375rem;
  font-family: 'ヒラギノ';
  margin: 0 0 .5rem;
}
/* line 662, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area .name .en {
  font-size: .625rem;
  margin: 0 0 0 1rem;
}
/* line 667, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area .work {
  font-size: .75rem;
  font-family: '游ゴシック体';
}
/* line 671, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area .introduction {
  font-size: .75rem;
  font-family: '游ゴシック体';
  line-height: 1.5rem;
  margin: 2rem 0 0;
  position: relative;
}
/* line 677, ../../html/sass/style.scss */
#about .team-area .team-list li .profile-area .introduction:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 1px;
  background: #000;
  margin: -1rem 0 0;
}
/* line 693, ../../html/sass/style.scss */
#about .outline-area .outline-ttl-area {
  display: inline-block;
  width: 32%;
  vertical-align: top;
}
/* line 697, ../../html/sass/style.scss */
#about .outline-area .outline-ttl-area .outline-ttl {
  font-size: .8rem;
  font-family: '游ゴシック体';
  font-weight: bold;
}
/* line 703, ../../html/sass/style.scss */
#about .outline-area .outline-table-area {
  display: inline-block;
  width: 67%;
}
/* line 706, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table {
  border-collapse: collapse;
  width: 100%;
}
/* line 710, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table tbody tr {
  border-bottom: 1px solid #cccccc;
}
/* line 712, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table tbody tr th {
  font-weight: normal;
  font-size: .8125rem;
  font-family: '游ゴシック体';
  width: 18%;
  text-align: left;
  padding: .5rem 0;
  vertical-align: top;
}
/* line 721, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table tbody tr td {
  font-size: .8125rem;
  font-family: '游ゴシック体';
  width: 82%;
  padding: .5rem 0;
  line-height: 1.5rem;
}
/* line 729, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table tbody tr:first-child th {
  padding: 0 0 .5rem;
}
/* line 732, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table tbody tr:first-child td {
  padding: 0 0 .5rem;
}
/* line 736, ../../html/sass/style.scss */
#about .outline-area .outline-table-area .outline-table tbody tr:last-child {
  border: none;
}

/*---------------------
	service
---------------------*/
/* line 749, ../../html/sass/style.scss */
#service .service-list-area {
  padding: 5rem 0;
}
/* line 751, ../../html/sass/style.scss */
#service .service-list-area .service-list {
  text-align: center;
}
/* line 753, ../../html/sass/style.scss */
#service .service-list-area .service-list li {
  float: left;
  width: 446px;
  margin: 0 1.75rem .5rem 0;
}
/* line 757, ../../html/sass/style.scss */
#service .service-list-area .service-list li:nth-child(even) {
  margin: 0 0 .5rem;
}
/* line 763, ../../html/sass/style.scss */
#service .service-list-area .service-list li p {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'ヒラギノ';
  color: #385571;
  margin: .5rem 0 0;
}

/*---------------------
	contact
---------------------*/
/* line 779, ../../html/sass/style.scss */
#contact .contact-area {
  padding: 4rem 0;
}
/* line 781, ../../html/sass/style.scss */
#contact .contact-area .txt {
  font-size: .8125rem;
}
/* line 785, ../../html/sass/style.scss */
#contact form {
  font-size: .75rem;
  margin: 1.5rem 0 0;
  position: relative;
}
/* line 789, ../../html/sass/style.scss */
#contact form .radio-btn-area {
  margin: 0 0 1rem;
}
/* line 791, ../../html/sass/style.scss */
#contact form .radio-btn-area label {
  margin: 0 1rem 0 0;
}
/* line 793, ../../html/sass/style.scss */
#contact form .radio-btn-area label span {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  margin: 0 .5rem 0 0;
}
/* line 801, ../../html/sass/style.scss */
#contact form .radio-btn-area label input[type="radio"] {
  margin: 1px 0 0 1px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 5px;
}
/* line 811, ../../html/sass/style.scss */
#contact form .radio-btn-area label input[type="radio"]:checked {
  background: #cccccc;
  outline: none;
}
/* line 818, ../../html/sass/style.scss */
#contact form .input-area {
  margin: 1rem 0;
}
/* line 820, ../../html/sass/style.scss */
#contact form .input-area p {
  margin: 1rem 0;
}
/* line 823, ../../html/sass/style.scss */
#contact form .input-area input[type="text"] {
  width: 50%;
  padding: .7rem;
  border: 1px solid #aaa;
  border-radius: 5px;
}
/* line 829, ../../html/sass/style.scss */
#contact form .input-area input[type="email"] {
  width: 100%;
  padding: .7rem;
  border: 1px solid #aaa;
  border-radius: 5px;
}
/* line 835, ../../html/sass/style.scss */
#contact form .input-area textarea {
  width: 100%;
  height: 10rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: .7rem;
}
/* line 843, ../../html/sass/style.scss */
#contact form .submit-right {
  text-align: right;
}
/* line 847, ../../html/sass/style.scss */
#contact input[type="submit"] {
  -webkit-appearance: noen;
  -moz-appearance: none;
  appearance: none;
  background: #fccf00;
  border: 1px solid #fccf00;
  border-radius: 5px;
  width: 210px;
  height: 46px;
}
/* line 857, ../../html/sass/style.scss */
#contact .explain-area {
  margin: 1rem 0;
}
/* line 859, ../../html/sass/style.scss */
#contact .explain-area p {
  font-size: .75rem;
}

/*---------------------
	top
---------------------*/
/*---------------------
	top
---------------------*/
/*---------------------
		スマホ対応
---------------------*/
@media only screen and (max-width: 640px) {
  /* line 880, ../../html/sass/style.scss */
  .sp {
    display: block;
  }

  /* line 883, ../../html/sass/style.scss */
  .pc {
    display: none;
  }

  /* line 886, ../../html/sass/style.scss */
  .container {
    width: 97%;
    margin: 0 auto;
  }
}
