@charset "UTF-8";

/*---------------------
		フォント設定
---------------------*/
/*
@font-face {
	font-family: 'rounded';
	font-weight: normal;
	src: url('../fonts/rounded-mplus-2p-light.ttf')  format('truetype');
} */

/*---------------------
		タグ初期設定
---------------------*/
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  vertical-align: middle;
}

html,
body{
	min-height: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-justify: inter-ideograph;
	-webkit-font-smoothing: antialiased;
	zoom: 1;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 16px;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
}
ul {
	li {
		list-style: none;
	}
}

ol {
	li {
		list-style: none;
	}
}

a {
	color: #000;
	text-decoration: none;
	&:hover {
		color: #000;
		cursor: pointer;
		opacity: .8;
	}
}


//----- iOSにてinputのデザインを変更する際 -----
// input[type="text"],(任意)
// textarea {
//   -webkit-appearance: none;
// }


/*---------------------
		共通クラス
---------------------*/
.clearfix {
	zoom: 1;
	&:after {
		content: ' ';
		clear: both;
		display: block;
	}
}

.sp {
  display: none;
}
.pc {
  display: block;
}

// 横幅の管理
.container {
	width: 960px; //任意のサイズ
	margin: 0 auto;
	position: relative;
}
.s-container {
	// width: 980px;
	width: 798px;
	margin: 0 auto;
	position: relative;
}
.ss-container {
	width: 630px;
	margin: 0 auto;
	position: relative;
}

// コンテンツ全体
#wrapper {
	#top {
	}
	#concept {
	}
	#action {
	}
	#about {		
	}
	#service {
	}
	#contact {
	}
}


// コンテンツ部分
#contents {
	.main-visual {
		padding: 3rem 0;
		text-align: center;
		.main-text-area {
			display: inline-block;
			text-align: left;
			vertical-align: middle;
			.ttl {
				font-size: 1.9rem;
			}
			.main-ttl {
				font-size: .75rem;
				font-family: 'Georgia Italic';
				font-style: italic;
			}
		}
		.text-content {
			p {
				font-size: .8rem;
				font-family: '游ゴシック体';
				line-height: 1.7rem;
				padding: 1rem 0;
			}
		}
		.main-logo {
			display: inline-block;
			vertical-align: middle;
		}
		.line-img {
			margin: 1.5rem 0;
		}
	}
	.page-ttl-area {
		background: #fccf00;
		text-align: center;
		padding: 2rem 0;
		p {
			font-size: 1rem;
		}
		.page-ttl {
			font-size: 1.5rem;
			color: #fff;
			font-family: 'Georgia Italic';
			font-style: italic;
			margin: 0 0 .5rem;
		}
		.sub-ttl {
			font-size: .75rem;
			font-family: 'Georgia Italic';
			font-style: italic;
		}
	}
	.dot-box-area {
		margin: 2rem 0 4rem;
		.dot-box {
			border: 3px dotted #385571;
			border-radius: 5px;
			padding: 2rem 2.25rem;
			p {
				font-family: '游ゴシック体';
			}
			.left-area {
				display: inline-block;
				vertical-align: top;
				p {
					font-weight: bold;
					&.b-txt {
						font-size: .95rem;
					}
					&.s-txt {
						font-size: .6px;
					}
				}
			}
			.right-area {
				display: inline-block;
				vertical-align: top;
				p {
					font-size: .75rem;
					line-height: 1.5rem;
					margin: 0 0 1rem;
					&:last-child {
						margin: 0;
					}
				}
			}
		}
	}
	.contact-link-area {
		background: #fccf00;
		text-align: center;
		padding: 1.5rem 0 2rem;
		p {
			margin: 0 0 1rem;
			font-size: .85rem;
		}
		.contact-link-list {
			li {
				display: inline-block;
				width: 48%;
				margin: 0 .5rem 0 0;
				&:last-child {
					margin: 0;
				}
				a {
					display: block;
					&:hover {
						// opacity: .8;
					}
				}
				&:last-child {
					margin: 0;
				}
			}
		}
	}
	.party-area {
		padding: 1.5rem 0;
		.party-logo {
			width: 10rem;
			margin: 0 auto;
		}
	}
}
/*---------------------
		ヘッダー
---------------------*/
#header {
	border-top: 10px solid #fccf00;
	padding: 0 0 .5rem;
	.head-logo {
		display: inline-block;
		width: 13rem;
		a {
			display: block;
		}
	}
	.head-list-wrap {
		display: inline-block;
		width: 77%;
		text-align: right;
		.nav-list {
			display: inline-block;
			width: 80%;
			text-align: right;
			li {
				display: inline-block;
				margin: 0 1rem 0 0;
				a {
					font-size: .8rem;
					font-family: 'Georgia Italic';
					font-style: italic;
				}
			}
		}
		.sns-list {
			display: inline-block;
			width: 17%;
			li {
				display: inline-block;
				width: 2rem;
				margin: 0 1rem 0 0;
				a {
					display: block;
					&:hover {
						// opacity: .8;
					}
				}
				&:last-child {
					margin: 0;
				}
			}
		}
	}
}

/*---------------------
		フッター
---------------------*/
#footer {
	.foot-link-list-area {
		background: #f0f0f0;
		padding: 1rem 0;
		.foot-link-list {
			text-align: center;
			li {
				display: inline-block;
				margin: 0 2rem 0 0;
				&:last-child {
					margin: 0;
				}
				a {
					font-size: .8rem;
					font-family: 'Georgia Italic';
					display: block;
					font-style: italic;
				}
			}
		}
	}
	.copyright-area {
		background: #385571;
		padding: 1rem 0;
		p {
			display: inline-block;
			color: #fff;
			font-size: .7rem;
			&.copyright-text {
				width: 28%;
			}
			&.text {
				text-align: right;
				width: 70%;
			}
		}
	}
}
/*---------------------
	to-top
---------------------*/
#to-top {
	position: fixed;
	right: 0;
	bottom: 0;
	margin-bottom: 5rem;
	width: 4rem;
	a {
		display: block;
	}
}

/*---------------------
	top
---------------------*/
#top {
	.main-visual {
		.main-text-area {
			width: 55%;
			.ttl {
				font-size: 2.1rem;
			}
			p {
				&.main-text {
					font-size: 4rem;
				}
			}
			.line-img {

			}
		}
		.main-logo {
			width: 43%;
		}
	}
	.banner-list-area {
		.banner-list {
			text-align: center;
			li {
				display: inline-block;
				// width: 32.5%;
				width: 310px;
				margin: 0 .5rem 0 0;
				&:last-child {
					margin: 0;
				}
			}
		}
	}
	.news-area {
		padding: 3rem 0;
		.title-area {
			display: inline-block;
			width: 25%;
			vertical-align: top;
			p {
				&.en {
					font-size: 1.25rem;
					font-family: 'Georgia Italic';
					font-style: italic;
					margin: 0 0 1rem;
					color: #385571;
				}
				&.ja {
					padding: 0 0 0 5px;
					font-family: '游明朝体';
					font-size: .75rem;
					position: relative;
					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: .8rem;
						height: 1px;
						background: #fccf00;
						margin: -.5rem 0 0 .5rem;
					}
				}
			}
		}
		.news-list-area {
			display: inline-block;
			width: 73%;
			.news-list {
				li {
					border-bottom: 1px solid #eee;
					.info {
						display: inline-block;
						width: 23%;
						.date {
							font-size: .75rem;
							font-family: '游ゴシック体';
							margin: 0 .5rem 0 0;
						}
						.news-category {
							background: #fccf00;
							font-size: .75rem;
							font-family: 'Georgia Italic';
							font-style: italic;
						}
						.category {
							padding: .2rem 1.5rem;
						}
					}
					.news-title-area {
						display: inline-block;
						width: 75%;
						overflow: hidden;
						.news-title {
							display: inline-block;
							text-overflow: ellipsis;
							-o-text-overflow: ellipsis;
						  white-space: nowrap;
						  display: block;
							// width: 100%;
							a {
								font-size: .75rem;
								font-family: '游ゴシック体';
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
				}
			}
		}
	}
}
/*---------------------
	concept
---------------------*/
#concept {
	.main-visual {
		.main-ttl-area {
			text-align: left;
			.main-ttl {
				font-size: .75rem;
		    font-family: 'Georgia Italic';
		    font-style: italic;
		    margin: 0 0 .5rem;
			}
			.ttl {
				font-size: 1.9rem;
				line-height: 2.8rem;
				// font-family: 'A1明朝';
			}
		}
		.main-text-area {
			width: 53%;
		}
		.main-logo {
			width: 45%;
			p {
				font-size: .6rem;
				text-align: right;
			}
		}
	}
	.dot-box-area {
		.dot-box {
			text-align: center;
			.left-area {
				width: 49%;
				text-align: left;
			}
			.right-area {
				width: 49%;
				text-align: left;
			}
		}
	}
}
/*---------------------
	action
---------------------*/
#action {
	.main-visual {
		.main-text-area {
			width: 50%;
			.mission-list {
				margin: 3rem 0 0;
				li {
					margin: 0 0 3rem;
					.mission-ttl {
						font-family: 'Georgia Italic';
						font-style: italic;
						font-size: 1.25rem;
						color: #385571;
						border-bottom: 1px solid #385571;
						margin: 0 0 .5rem;
						width: 90%;
					}
					.mission-explain {
				    font-size: .8rem;
				    font-family: '游ゴシック体';
				    line-height: 1.7rem;
				    // padding: 1rem 0;
					}
					&:last-child {
						margin: 0;
					}
				}
			}
		}
		.main-logo {
			width: 48%;
		}
		.right-text-area {
			display: inline-block;
			width: 48%;
			text-align: left;
			padding: 1rem 0 0 1.5rem;
		}
	}
	.dot-box-area {
		.dot-box {
			.left-area {
				width: 35%;
			}
			.right-area {
				width: 63%;
			}
		}
	}
	.salvage-list-area {
		.salvage-list {
			text-align: center;
			li {
				display: inline-block;
				width: 31%;
				margin: 0 1.4rem 2rem 0;
				&:nth-child(3n) {
					margin: 0 0 2rem;
				}
				.salvage-list-img {
					width: 10rem;
					margin: 0 auto;
				}
				p {
					&.salvage-ttl {
						text-align: center;
						font-size: .8125rem;
						font-weight: bold;
						color: #385571;
						font-family: "游ゴシック体";
						margin: 1rem 0;
					}
					&.explain {
						text-align: left;
						font-size: .75rem;
						font-family: "游ゴシック体";
					}
				}
			}
		}
	}
}
/*---------------------
	about
---------------------*/
#about {
	
}
/*---------------------
	contact
---------------------*/
#contact {
	
}
/*---------------------
	top
---------------------*/
#top {
	
}
/*---------------------
	top
---------------------*/
#top {
	
}
/*---------------------
		スマホ対応
---------------------*/
@media only screen and (max-width:640px){
	.sp {
		display: block;
	}
	.pc {
		display: none;
	}
	.container {
		width: 97%; // 任意のサイズ
		margin: 0 auto;
	}
}