@charset "UTF-8";

/*---------------------
		タグ初期設定
---------------------*/
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  vertical-align: middle;
}

html,
body{
	min-height: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-justify: inter-ideograph;
	-webkit-font-smoothing: antialiased;
	zoom: 1;
	font-size: 16px;
}

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);
body {
	font-family: "メイリオ" ,Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
}
ul {
	li {
		list-style: none;
	}
}
ol {
	li {
		list-style: none;
	}
}
a {
	color: #000;
	text-decoration: none;
	-webkit-transition: all .4s ease;
	   -moz-transition: all .4s ease;
	    -ms-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
	&:before {
		box-sizing: border-box;
		-webkit-transition: all .2s ease;
		   -moz-transition: all .2s ease;
		    -ms-transition: all .2s ease;
		     -o-transition: all .2s ease;
		        transition: all .2s ease;

	}
	&:hover {
		color: #000;
	}
}
a,label,input[type="submit"] {
	&:hover {
		cursor: pointer;
	}
}
input,textarea {
	font-family: "メイリオ" ,Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}
/*---------------------
		共通クラス
---------------------*/
.clearfix {
	zoom: 1;
	&:after {
		content: ' ';
		clear: both;
		display: block;
	}
}
// 横幅の管理
.container {
	width: 960px; //任意のサイズ
	margin: 0 auto;
	position: relative;
}
.s-container {
	width: 798px;
	margin: 0 auto;
	position: relative;
}
.ss-container {
	width: 630px;
	margin: 0 auto;
	position: relative;
}
.service-container {
	width: 920px;
	margin: 0 auto;
	position: relative;
}
// コンテンツ全体

.content-ttl {
	font-size: 1.55rem;
	font-style: italic;
	color: #385571;
	margin: 0 0 2rem;
	font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}

// コンテンツ部分
#contents {
	.main-visual {
		padding: 3rem 0;
		text-align: center;
		.main-text-area {
			display: inline-block;
			text-align: left;
			vertical-align: middle;
			.ttl {
				font-size: 1.9rem;
				font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
			}
			.main-ttl {
				font-size: .75rem;
				font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
				font-style: italic;
			}
		}
		.text-content {
			p {
				font-size: .8rem;
				line-height: 1.7rem;
				padding: 1rem 0;
			}
		}
		.main-logo {
			display: inline-block;
			vertical-align: middle;
		}
	}
	.line-img {
		margin: 1.5rem 0;
	}
	.page-ttl-area {
		background: #fccf00;
		text-align: center;
		padding: 2rem 0;
		font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
		p {
			font-size: 1rem;
		}
		.page-ttl {
			font-size: 1.5rem;
			color: #fff;
			font-style: italic;
			margin: 0 0 .5rem;
		}
		.sub-ttl {
			font-size: .75rem;
			font-style: italic;
		}
	}
	.dot-box-area {
		margin: 2rem 0 4rem;
		.dot-box {
			border: 3px dotted #385571;
			border-radius: 5px;
			padding: 2rem 2.25rem;
			.left-area {
				display: inline-block;
				vertical-align: top;
				p {
					font-weight: bold;
					&.b-txt {
						font-size: .95rem;
					}
					&.s-txt {
						font-size: .6px;
					}
				}
			}
			.right-area {
				display: inline-block;
				vertical-align: top;
				p {
					font-size: .75rem;
					line-height: 1.5rem;
					margin: 0 0 1rem;
					&:last-child {
						margin: 0;
					}
				}
			}
		}
	}
	.contact-link-area {
		background: #fccf00;
		text-align: center;
		padding: 1.5rem 0 2rem;
		p {
			margin: 0 0 1rem;
			font-size: .85rem;
		}
		.contact-link-list {
			li {
				display: inline-block;
				width: 48%;
				margin: 0 .5rem 0 0;
				&:last-child {
					margin: 0;
				}
				a {
					display: block;
					position: relative;
					&:before {
				    content: "";
				    display: block;
				    position: absolute;
				    left: 0;
				    top: 0;
				    width: 100%;
				    height: 100%;
				    border: 0px solid #fccf00;
					}
					&:hover {
						&:before {
							border: 15px solid #fccf00;
						}
					}
				}
				&:last-child {
					margin: 0;
				}
			}
		}
	}
	.party-area {
		padding: 1.5rem 0;
		.party-logo {
			width: 10rem;
			margin: 0 auto;
			a {
				display: block;
				&:hover {
					opacity: .5;
				}
			}
		}
	}
}
/*---------------------
		ヘッダー
---------------------*/
#header {
	border-top: 10px solid #fccf00;
	padding: .5rem 0;
	.head-logo {
		display: inline-block;
		width: 13rem;
		a {
			display: block;
		}
	}
	.head-list-wrap {
		display: inline-block;
		width: 77%;
		text-align: right;
		.nav-list {
			display: inline-block;
			width: 80%;
			text-align: right;
			font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
			li {
				display: inline-block;
				margin: 0 1rem 0 0;
				a {
					font-size: .8rem;
					font-style: italic;
					position: relative;
					&:before {
				    content: "";
						display: block;
						width: 0;
						position: absolute;
						left: 0;
						bottom: -5px;
						-webkit-transition: all .4s ease;
						   -moz-transition: all .4s ease;
						    -ms-transition: all .4s ease;
						     -o-transition: all .4s ease;
						        transition: all .4s ease;
					}
					&:hover {
						&:before {
							width: 100%;
					    height: 2px;
					    background-color: #fccf00;
						}
					}
				}
			}
		}
		.sns-list {
			display: inline-block;
			width: 17%;
			li {
				display: inline-block;
				width: 2rem;
				margin: 0 1rem 0 0;
				a {
					display: block;
					&:hover {
						opacity: .5;
					}
				}
				&:last-child {
					margin: 0;
				}
			}
		}
	}
}

/*---------------------
		フッター
---------------------*/
#footer {
	.foot-link-list-area {
		background: #f0f0f0;
		padding: 1rem 0;
		.foot-link-list {
			text-align: center;
			font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
			li {
				display: inline-block;
				margin: 0 2rem 0 0;
				&:last-child {
					margin: 0;
				}
				a {
					font-size: .8rem;
					display: block;
					font-style: italic;
					&:hover {
						opacity: .5;
					}
				}
			}
		}
	}
	.copyright-area {
		background: #385571;
		padding: 1rem 0;
		p {
			display: inline-block;
			color: #fff;
			font-size: .7rem;
			&.copyright-text {
				width: 28%;
			}
			&.text {
				text-align: right;
				width: 70%;
			}
		}
	}
}
/*---------------------
	to-top
---------------------*/
#to-top {
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 0 0 5rem;
	width: 4rem;
	z-index: 100;
	a {
		display: block;
	}
}

/*---------------------
	top
---------------------*/
#top {
	.main-visual {
		.main-text-area {
			width: 55%;
			.ttl {
				font-size: 2.1rem;
			}
			p {
				&.main-text {
					font-size: 4rem;
				}
			}
			.line-img {

			}
		}
		.main-logo {
			width: 43%;
		}
	}
	.banner-list-area {
		.banner-list {
			text-align: center;
			li {
				display: inline-block;
				width: 310px;
				margin: 0 .5rem 0 0;
				overflow: hidden;
				a {
					display: block;
					position: relative;
					&:before {
				    content: "";
				    display: block;
				    position: absolute;
				    left: 0;
				    top: 0;
				    width: 100%;
				    height: 100%;
				    border: 0px solid #fccf00;
					}
					&:hover {
						&:before {
							border: 15px solid #fccf00;
						}

					}
				}
				&:last-child {
					margin: 0;
				}
			}
		}
	}
	.news-area {
		padding: 3rem 0;
		.title-area {
			display: inline-block;
			width: 25%;
			vertical-align: top;
			p {
				&.en {
					font-size: 1.25rem;
					font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
					font-style: italic;
					margin: 0 0 1rem;
					color: #385571;
				}
				&.ja {
					padding: 0 0 0 5px;
					font-size: .75rem;
					position: relative;
					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: .8rem;
						height: 1px;
						background: #fccf00;
						margin: -.5rem 0 0 .5rem;
					}
				}
			}
		}
		.news-list-area {
			display: inline-block;
			width: 73%;
			.news-list {
				li {
					border-bottom: 1px solid #eee;
					padding: .5rem 0;
					.info {
						display: inline-block;
						width: 23%;
						.date {
							font-size: .75rem;
							margin: 0 .5rem 0 0;
						}
						.news-category {
							background: #fccf00;
							font-size: .75rem;
							font-style: italic;
						}
						.category {
							font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
							padding: .2rem 1.5rem;
						}
					}
					.news-title-area {
						display: inline-block;
						width: 75%;
						overflow: hidden;
						.news-title {
							display: inline-block;
							text-overflow: ellipsis;
							-o-text-overflow: ellipsis;
						  white-space: nowrap;
						  display: block;
							a {
								font-size: .75rem;
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
				}
			}
		}
	}
}
/*---------------------
	concept
---------------------*/
#concept {
	.main-visual {
		.main-ttl-area {
			font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
			text-align: left;
			.main-ttl {
				font-size: .75rem;
				font-style: italic;
		    margin: 0 0 .5rem;
			}
			.ttl {
				font-size: 1.9rem;
				line-height: 2.8rem;
			}
		}
		.main-text-area {
			width: 53%;
		}
		.main-logo {
			width: 45%;
			p {
				font-size: .6rem;
				text-align: right;
			}
		}
	}
	.dot-box-area {
		.dot-box {
			text-align: center;
			.left-area {
				width: 49%;
				text-align: left;
			}
			.right-area {
				width: 49%;
				text-align: left;
			}
		}
	}
}
/*---------------------
	action
---------------------*/
#action {
	.main-visual {
		.main-text-area {
			width: 50%;
			.mission-list {
				margin: 3rem 0 0;
				li {
					margin: 0 0 3rem;
					.mission-ttl {
						font-family: "Times New Roman", Garamond, "Roboto Slab" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
						font-style: italic;
						font-size: 1.25rem;
						color: #385571;
						border-bottom: 1px solid #385571;
						margin: 0 0 .5rem;
						width: 90%;
					}
					.mission-explain {
				    font-size: .8rem;
				    line-height: 1.7rem;
					}
					&:last-child {
						margin: 0;
					}
				}
			}
		}
		.main-logo {
			width: 48%;
		}
		.right-text-area {
			display: inline-block;
			width: 48%;
			text-align: left;
			padding: 1rem 0 0 1.5rem;
		}
	}
	.dot-box-area {
		.dot-box {
			.left-area {
				width: 35%;
			}
			.right-area {
				width: 63%;
			}
		}
	}
	.salvage-list-area {
		.salvage-list {
			text-align: center;
			li {
				display: inline-block;
				width: 31%;
				margin: 0 1.4rem 2rem 0;
				&:nth-child(3n) {
					margin: 0 0 2rem;
				}
				.salvage-list-img {
					width: 10rem;
					margin: 0 auto;
				}
				p {
					&.salvage-ttl {
						text-align: center;
						font-size: .8125rem;
						font-weight: bold;
						color: #385571;
						margin: 1rem 0;
					}
					&.explain {
						text-align: left;
						font-size: .75rem;
					}
				}
			}
		}
	}
}
/*---------------------
	about
---------------------*/
#about {
	.team-area {
		// padding: 3rem 0 0;
	}
	.about-content {
		margin: 3rem 0;
	}
	.team-area {
		.team-list {
			li {
				margin: 0 0 3rem;
				&:last-child {
					margin: 0;
				}
				.photo-img-area {
					display: inline-block;
					width: 33%;
					.photo-img {
						width: 15rem;
					}
				}
				.profile-area {
					display: inline-block;
					width: 66%;
					vertical-align: top;
					.position {
						font-size: .75rem;
						margin: 0 0 1rem;
					}
					.name {
						font-size: 1.375rem;
						margin: 0 0 .5rem;
						.en {
							font-size: .625rem;
							margin: 0 0 0 1rem;
						}
					}
					.work {
						font-size: .75rem;
					}
					.introduction {
						font-size: .75rem;
						line-height: 1.5rem;
						margin: 2rem 0 0;
						position: relative;
						&:before {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 8px;
							height: 1px;
							background: #000;
							margin: -1rem 0 0;
						}
					}
				}
			}
		}
	}
	.outline-area {
		.outline-ttl-area {
			display: inline-block;
			width: 32%;
			vertical-align: top;
			.outline-ttl {
				font-size: .8rem;
				font-weight: bold;
			}
		}
		.outline-table-area {
			display: inline-block;
			width: 67%;
			.outline-table {
				border-collapse: collapse;
				width: 100%;
				tbody {
					tr {
						border-bottom: 1px solid #cccccc;
						th {
							font-weight: normal;
							font-size: .8125rem;
							width: 18%;
							text-align: left;
							padding: .5rem 0;
							vertical-align: top;
						}
						td {
							font-size: .8125rem;
							width: 82%;
							padding: .5rem 0;
							line-height: 1.5rem;
						}
						&:first-child {
							th {
								padding: 0 0 .5rem;
							}
							td {
								padding: 0 0 .5rem;
							}
						}
						&:last-child {
							border: none;
						}
					}
				}
			}
		}	
	}
}
/*---------------------
	service
---------------------*/
#service {
	.service-list-area {
		padding: 5rem 0;
		.service-list {
			text-align: center;
			li {
				float: left;
				width: 446px;
				margin: 0 1.75rem .5rem 0;
				&:nth-child(even) {
					margin: 0 0 .5rem;
				}
 				.service-list-img {

				}
				p {
					text-align: center;
					font-size: 1rem;
					font-weight: bold;
					color: #385571;
					margin: .5rem 0 0;
				}
			}
		}
	}
}
/*---------------------
	contact
---------------------*/
#contact {
	.contact-area {
		padding: 4rem 0;
		.txt {
			font-size: .8125rem;
		}
	}
	form {
		font-size: .75rem;
		margin: 1.5rem 0 0;
		position: relative;
		.radio-btn-area {
			margin: 0 0 1rem;
			label {
				margin: 0 1rem 0 0;
				span {
					width: 20px;
			    height: 20px;
			    border: 1px solid #ccc;
			    border-radius: 5px;
			    display: inline-block;
			    margin: 0 .5rem 0 0;
				}
				input[type="radio"] {
			    margin: 0px 0 0 1px;
			    appearance: none;
			    -moz-appearance: none;
			    -webkit-appearance: none;
			    width: 16px;
			    height: 16px;
			    border: 2px solid #fff;
			    background: transparent;
			    border-radius: 5px;
					&:checked {
				    background: #cccccc;
				    outline: none;
					}
				}
			}
		}
		.input-area {
			margin: 1rem 0;
			p {
				margin: 1rem 0;
			}
			input[type="text"] {
				width: 50%;
				padding: .7rem;
				border: 1px solid #aaa;
				border-radius: 5px;
			}
			input[type="email"] {
				width: 100%;
				padding: .7rem;
				border: 1px solid #aaa;
				border-radius: 5px;
			}
			textarea {
				width: 100%;
				height: 10rem;
				border: 1px solid #aaa;
				border-radius: 5px;
				padding: .7rem;
			}
		}
		.submit-right {
			text-align: right;
		}
	}
	input[type="submit"] {
		-webkit-appearance: noen;
		-moz-appearance: none;
		appearance: none;
		background: #fccf00;
		border: 3px solid #fccf00;
		border-radius: 5px;
		width: 210px;
		height: 46px;
		-webkit-transition: all .4s ease;
		   -moz-transition: all .4s ease;
		    -ms-transition: all .4s ease;
		     -o-transition: all .4s ease;
		        transition: all .4s ease;
		&:hover {
			background: #fff;
		}
	}
	.explain-area {
		margin: 1rem 0;
		p {
			font-size: .75rem;
		}
	}
}
.download-btn {
	width: 210px;
	text-align: center;
	a {
		display: block;
		background: #fccf00;
		border: 3px solid #fccf00;
		border-radius: 5px;
		font-size: .75rem;
		padding: .5rem 0;
		&:hover {
			background: #fff;
		}
	}
}